<%= link_to "New article", new_article_path, :class=>"text-center btn btn-info m-1" %>
<p style="color: green"><%= notice %></p>

<h1 class="text-center">Articles</h1>

  <div id="articles" class="text-center m-0">
    <% @articles.each do |article| %>
      <%= render article %>
      <p>
        <%= link_to "Show this article", article, :class=>"btn btn-primary" %>
      </p>
    <% end %>
  </div>
      

